body{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0%;
    /* overflow: hidden; */
}


.nav {
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1920px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 30px;
    box-sizing: border-box;
}
.affix{
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    padding: 30px 50px 20px 50px;
    background-color: #fd8200;
    z-index: 999;
	transition: all .6s ease;
}
.menu-ul{
    display: flex;
    list-style: none;
    padding: 0px;
    float: right;
    margin: 0;
}
body{
    max-width: 1920px;
    margin: 0 auto;
    padding: 0%;
    /* overflow: hidden; */
}
.header{
    background-image: url(../image/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 0px;
    background-position: center;
}

.top-nav{
    display: flex;
    padding: 30px 50px 0px;
}
.logo{
    width: 15%;
}
/* .logo img{
    width: 93%
    } */
.menu{
    width: 80%;
}
.menu-li{
    margin-right:36px;
}
.menu-li:last-child{
    margin-right: 0px;
}
.menu-a{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #fff;
    font-weight: 700;
    font-family: "Montserrat";
    text-decoration: none;
    text-transform: uppercase;
	transition: 1s ease;
}
.menu-a:hover{
    color: #000;
    /* border-bottom: 3px solid #000; */
        transition: 1s ease;
}

.container{
    max-width: 1400px;
    margin: 0 auto;
}
.banner-text{
    padding-top: 213px;
    padding-bottom: 104px;
}
.text-ul{
    padding: 0px;
    list-style: none;
    display: flex;
    margin: 0px;
}
.text-li{
    margin-right: 10px;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    
}
.text-h1{
    margin-bottom: 39px;
    margin-top: 8px;
    font-size: 54px;
    letter-spacing: -1px;
    line-height: 70px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}

.text-h1 strong{
    /* position: relative; */
    z-index: -1;
    display: inline-block;
    animation: flips 2s infinite;
    animation-delay: calc(0.2s * var(--i));
    color: #fff;
    letter-spacing: -8px;
}

@keyframes flips{
    0%{
        transform: rotateY(360deg);
    }
    80%{
        transform: rotateY(360deg);
    }
}


.text-p{
    font-size: 24px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 34px;
}
.text-li1{ 
    margin-right: 40px;
}
.text-a{
    font-size: 18px;
    letter-spacing: -1px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-decoration: none;
    padding-bottom: 5px;
    border-bottom: 3px solid #fff;
	transition: 1s ease-in-out;
}
.text-a:hover{
    transition: 1s ease-in-out;
    border-bottom: 3px solid #000;
    color: #000;
}
.text-ul2{
    padding: 0px;
    list-style: none;
    display: flex;
}
.solution{
    padding-top: 111px;
    display: flex;
    align-items: center;
}
.sol-text1{
    width: 40%;
}
.sol-text-h6{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin-bottom: 10px;
    margin-top: 0px;
}
.sol-text-h2{
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 50px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    margin: 0px;
}
.sol-text-span{
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 50px;
    color: #fd8200;
    font-weight: 700;
    font-family: "Montserrat";
}
.sol-text2{
    width: 60%;
    margin-left: 100px;
}
.sol-text-p{
    margin-top: 5px;
    font-size: 16px;
    line-height: 28px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
}
.row{
    display: flex;
    margin-top: 60px;
    flex-wrap: wrap;
}
.first{
    display: flex;
    /* width: 33%; */
    padding-bottom: 35px;
}
/* .first img{
    width: 90px;
}
.three img{
    width: auto;
} */
.col2{
    margin-left: 40px;
}
.product-row{
    padding-bottom: 55px;
    margin-top: 56px;
}
.product-h3{
    margin-top: 18px;
    margin-bottom: 22px;
    font-size: 22px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
}
.word-heading{
    margin-bottom: 26px;
}
.ecom-heading{
    margin-bottom: 24px;
}
.product-ul{
    padding-left: 18px;
    /* list-style: ; */
    list-style: none;
}
.host-ul{
    margin-top: 37px;
}
.host-list h3{
    margin-top: 8px;
}
.web-list{
    margin-left: 42px;
}
.mobile-list{
    margin-left: 56px;
}
.ecom-list{
    margin-left: 30px;
}
.host-list {
    margin-left: 40px;
}
.graphic-ul{
    padding-left: 18px;
    list-style: none;
    margin-top: -4px;
    margin-bottom: 0px;
}
.graphic-h3{
    margin-top: 18px;
}
.product-ul li::before{
    content: "\2022";
    color: #fd8200;
    font-weight: 700;
    display: inline-block;
    width: 15px;
    font-size: 25px;
    position: absolute;
    left: -18px;
    top:-2px;
}
.product-li{
    /* margin-left: 20px; */
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    /* text-align: center; */
    position: relative;
}
.one{
    padding-bottom: 48px;
}
.two{
    margin-left: 181px;
    margin-right: 156px;
    width: 26%;
    padding-bottom: 79px;
}
/* .three{
} */
.four{ 
    width: 25%;

}
.five{
    margin-left: 182px;
    margin-right: 160px;
    width: 358px;
}
.six{
    width: 24%;
}
.row1{
    padding-bottom: 115px;
}
.started{
    background-color: #fd8200;
    display: flex;
    width: 100%;
    padding: 0%;
    overflow: hidden;
    position: relative;
}
.inner{
    margin: 0 auto;
    width: 565px;
    margin-left: 260px;
}
.col3{
    padding-top: 71px;
}
.col4{
    width: 50%;
    height: 739px;
}
.col4 img{
    height: 739px;
    width: fit-content;
}
.start-h6{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat";
    text-transform: uppercase;
    margin-bottom: 9px;
}
.start-h3{
    margin-top: 0px;
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    margin-bottom: 36px;
}
.start-span{
    color: #000000;
}
.start-p{
    font-size: 16px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}
.fisrt-p {
    margin-bottom: 30px;
}
.gap{
    padding-bottom: 98px;
}
.hiring-row{
    margin-top: 58px;
}
.hiring-img{
    width: 51%;
    padding-top: 48px;
}
.hiring-img img{
    width: 100%;
}
.hiring-text{
    padding-top: 114px;
    margin-left: 105px;
    width: 40%;
}
.hiring-h6{
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #000000;
    font-weight: 800;
    font-family: "Montserrat";
    margin-bottom: 8px;
}
.hiring-h3{
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 50px;
    color: #000000;
    font-weight: 700;
    font-family: "Montserrat";
    margin-top: 0px;
    margin-bottom: 21px;
}
.hiring-span{
    color: #fd8200;
}
.hiring-p{
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    font-weight: 400;
    font-family: "Montserrat";
    margin-bottom: 49px;
}
.hiring-a{
    border: 2px solid #fd8200;
    background-color: #fd8200;
    padding: 23px 18px;
    border-radius: 5px;
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #ffffff;
    font-weight: 900;
    font-family: "Inter";
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: 1s ease;
    border: none;
}
.hiring-a:hover{
    background-color: #000;
    color: #fff;
    transition: 1s ease;
    border: none;
}
.quote{
    background-color: #fd8200;
    padding-bottom: 109px;
    padding-top: 115px;
    border-bottom: 3px solid #fff;
}
.quote-h2{
    font-size: 40px;
    letter-spacing: -2px;
    line-height: 50px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
    text-align: center;
    margin: 0px;
}
.quote-h6{
    font-size: 18px;
    letter-spacing: 0px;
    line-height: 36px;
    color: #000000;
    font-weight: 900;
    font-family: "Inter";
    text-align: center;
    text-transform: uppercase;
    margin: 0px;
    margin-top: 27px;
}
.footer{
    background-color: #222222;
    padding-top: 120px;
    padding-bottom: 109px;
    border-bottom: 1px solid #4e4e4e;
}
.flex{
    display: flex;

}
.foot-menu{
    display: flex;
    margin-left: auto;
}
.foot-ul{
    padding: 0px;
    list-style: none;
    margin: 0px;
}

.foot{
    margin-left: 98px;
/*     padding: 0px 3px; */
    position: relative;
}
.foot:last-child{
    margin-left: 90px;
}
.foot-ul::before{
    content: url(../image/foot-border.png);
    position: absolute;
    left: -12px;
    top: 0px;
}
.foot-li{
    font-size: 16px;
    letter-spacing: 0px;
    margin-bottom: 5px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Montserrat";
}
.li3{
    font-weight: 500;
}
.foot-a{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat";
    text-decoration: none;
    transition: 1s ease;
	
}
.foot-a:hover{
    transition: 1s ease;
    color: #f78444;
}
.foot-p{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 28px;
    color: #ffffff;
    font-weight: 500;
    font-family: "Montserrat";
    text-align: center;
    margin: 0px;
    padding: 15px 0px;
}
.hire-img{
    display: none;
}
.copy{
    background-color: #222222;
    padding-left: 7%;
}
.toggle{
    display: none;
}
/* .logo a:hover .logo-com{
    display: none;
} */




@media only screen and (max-width:1920px) {
    .inner{
        margin: 0 auto;
        width: 567px;
        margin-right: 124px;
    }
}

@media only screen and (max-width:1520px) {
    .banner-text{
        margin: 0px 60px;
    }
    .solution{
        margin: 0px 60px;
    }
    .row{
        margin-top: 60px;
        margin-right: 60px;
        margin-left: 60px;
    }
    .inner{
        margin-left: 120px;
    }
    .quote-text{
        margin: 0 60px;
    }
    .second{
        margin: 0px;
    }
    .first{
        width: 30%;
        margin-bottom: 50px;
    }
    .col1 img{
        width: 80px;
    }
    .two{
        margin: 00px auto;
    }
    .five{
        margin: 0px auto;
    }
    .flex{
        margin: 0px 60px;
    }
}
@media only screen and (max-width:1453px){
    .inner{
        margin-left: 77px;
    }
    .col3{
        padding: 75px 0px;
    }
    .start-h6{
        margin-top: 0px;

    }
}


@media only screen and (max-width:1367px){
    .text-li{
        font-size: 14px;
    }
    .text-h1{
        font-size: 50px;
    }
    .text-p{
        font-size: 20px;
    }
    .text-a{
        font-size: 15px;
    }
    .start-h3{
        font-size: 33px;
    }
    .start-p{
        font-size: 14px;
        letter-spacing: 1px;
    }
    .hiring-h3{
        font-size: 35px;
    }
    .hiring-p{
        font-size: 17px;
    }
    .hiring-a{
        font-size: 15px;
    }
    .quote-h2{
        font-size: 35px;
    }
    .foot{
        margin-left: 40px!important;
    }
    .inner{
        margin-left: 62px;
        /* width: 422px;
        margin-right: 260px; */
    }
    .col3{
        padding: 100px 0px;
    }
    .foot-p{
        padding-left: 35px;
    }
}

@media only screen and (max-width:1287px){
    .hiring-p {
        font-size: 16px;
    }
    .hiring-text {
        padding-top: 95px;
    }
    .hiring-h6{
        margin-top: 0px;
    }
    .hiring-img{
        width: 49%;
    }
    .product-row{
        padding-bottom: 25px;
    }

}




@media only screen and (max-width:1200px) {
    .hiring-text{
        padding-top: 65px;
    }
    .hiring-h6{
        margin-top: 0px;
        font-size: 14px;
	    letter-spacing: 1px;
    }
    .hiring-h3{
        font-size: 30px;
	    letter-spacing: 0px;
    }
    .hiring-p{
        font-size: 15px;
        letter-spacing: 1px;
    }
    /* .col4 img{
        height: auto;
        width: fit-content;
    } */
    .inner{
        width: 500px;
        margin: 0 auto;
    }
/*     .nav {
        width: 92%;
    } */

}


@media only screen and (max-width:1150px) {
    .text-h1{
        font-size: 40px;
    }
    .text-p{
        font-size: 17px;
    }
    .text-a{
        font-size: 13px;
    }
    .sol-text-h6{
        font-size: 16px;
        letter-spacing: 1px;
    }
    .sol-text-p{
        font-size: 14px;
    }
    .sol-text-h2{
        font-size: 30px;
	    letter-spacing: 0px
    }
    .sol-text-span{
        font-size: 30px;
	    letter-spacing: 0px	    
    }
    .product-h3{
        font-size: 18px;
    }
    .product-li{
        font-size: 14px;
    }
    .quote-h2{
        font-size: 30px;
    }
    .start-h3{
        font-size: 30px;
        letter-spacing: 0px;
    }
    .col3{
        padding-top: 25px;
    }
    .flex{
        display: block;
    }
    .inner{
        width: 440px;
        margin: 0 auto;
    }
    .foot-logo{
        text-align: center;
        margin-bottom: 40px;
    }
    .foot-menu{
        width: 75%;
        align-items: center;
        margin: 0 auto;
    }
    .foot-logo img{
	    width: auto;
    }
		
    
}
@media only screen and (max-width:1100px){
    .row{
        flex-wrap: wrap;
    }
    .first{
        width: 50%;
    }
    .hiring-img{
        /* margin: 0 auto; */
        padding-top: 0px;
    }
    .hiring-text{
        width: 100%;
        /* margin: 0 auto; */
        margin-left: 0px;
    }
    .hiring-row{
        display: block;
    }
    .foot-menu{
        width: 100%;
    }
    .foot{
        width: inherit!important;
    }
    
}
@media only screen and (max-width:1000px) {
/*     .nav {
        width: 90%;
    } */
    .text-h1{
        font-size: 35px;
        line-height: 50px;
    }
    .text-p {
        font-size: 15px;
        line-height: 30px;
    }
    .text-a{
	letter-spacing: 0px;
    }
    .solution{
        display: block;
    }   
    .sol-text1{
        margin: 0 auto;
    }
    .sol-text2{
        margin: 0 auto;
    }
    .foot-menu{
        width: 100%;
    }
    .hire-img{
        display: block;
        width: 50%;
        margin: 0 auto;
    }
    .hire-img img{
        width: 100%;
    }
    .started{
        display: flex;
        flex-direction: column-reverse;
    }
    .inner{
        width: 86%;
        margin: auto 60px;
    }
    .col3{
        width: 100%;
        margin: 0 auto;
        padding-bottom: 30px;
    }
    .col4{
        height: auto;
        width: 100%;
    }
    .col4 img{
        height: auto;
        width: inherit;
    }
    .sol-text1{
        width: 100%;
    }
    .sol-text2{
        width: 100%;
    }
    .hiring-img{
        width: 80%;
        margin: 0px;
    }
    .hiring-text{
        width: 100%;
	    margin-left: 15px;
    }
    .hiring-row{
        margin-left: 46px;
    }
    .foot {
        margin-left: 15px!important;
    }
    .foot-logo{
        margin-left: 0px;
    }
}
@media only screen and (max-width:929px) {
    .footer{
        padding-bottom: 82px;
    }
    .foot-logo{
        text-align: start;
	    margin-bottom: 40px;
        /* margin-left: 26px; */
    }
    .foot-menu{
        display: block;
    }
    .foot{
        margin-bottom: 30px;
    }
    .foot-p{
        font-size: 14px;
	    text-align: start;
        padding-left: 5px;
    }
    
}
@media only screen and (max-width:880px) {
/*     .nav {
        width: 89%;
    } */
    .text-p{
        font-size: 14px;
    }
    .start-h3{
        /* text-align: center; */
        margin-top: 0px;
    }
    /* .start-h6{
        text-align: center;
    } */
    .foot-menu{
        display: block;
    }
    .foot{
        margin-top: 30px;
    }
    .quote-h2 {
        font-size: 24px;
	letter-spacing: 1px;
	line-height: 35px;
    }   
    .header br{
        display: none;
    }
    .product-row{
        padding-bottom: 30px;
    }
    .start-h6{
	    margin-top: 0px;
        letter-spacing: 1px;
    }
}
@media only screen and (max-width:750px) {
    .nav, .affix {
        padding-right: 30px;
        padding-left: 30px;
    }
    .banner-text {
        padding-top: 175px;
	    padding-bottom: 75px;
	    margin: 0 30px;
    }
    .text-p {
        font-size: 15px;
	    line-height: 25px;
    }
    .text-h1{
        font-size: 33px;
        line-height: 45px;
	    margin-bottom: 25px;
    }
    .text-h1 strong{
	    letter-spacing: -5px;
    }
    .solution{
	    padding-top: 75px;
        margin: 0px 30px;
    }
    .product-row{
        margin-right: 30px;
        margin-left: 30px;
	    padding-bottom: 35px;
    }
    .first{
        width: 100%;
        margin: 0 auto;
    }
    .one {
        padding-bottom: 40px;
    }
    .two{
        padding-bottom: 40px;
    }
    .three{
        padding-bottom: 40px;
    }
    .inner {
        margin: 0 30px;
        width: 92%;
    }
    .col3{
        padding-bottom: 30px;
        width: 100%;
    }
    .hiring-row{
        margin-right: 30px;
        margin-left: 30px;
    }
    .hiring-text{
        width: 100%;
        padding-top: 30px;
    }
    .gap {
        padding-bottom: 75px;
    }
    .hiring-a {
        font-size: 12px;
    }
    
    .sol-text2 {
        width: 100%;
    }
    .sol-text1 {
        width: 100%;
    }
    .top-nav{
        align-items: center;
    }
    .quote{
        padding-bottom: 75px;
        padding-top: 75px;
     }
    .quote-h2{
	    line-height: 36px;
    }
    .logo{
        width: 35%;
    }
    .logo img{
        width: 100%;
    }
    .toggle{
        display: block;
    }
    .menu-toggle{
        position: absolute;
        right: 40px;
        top: 43px;
        font-size: 30px;
        color: #fff;
    }
    .menu-li:last-child{
        margin-right: 40px;
    }
    .active{
        position: absolute;
        top: 75px;
        background: #fd8200;
        width: 50%;
        right: 0px;
        display: block!important;
    }
    .menu-ul{
        width: 100%;
        display: none;
        /* border-radius: 20px 0px 0px 20px; */
    }
    .menu-li {
        margin-left: 30px;
        text-align: start;
    }
/*     .menu-li{
        display: block;
        text-align: center;
    } */
    .active{
        display: block;
    }
    .product-h3 br{ 
        display: none;
    }
    .footer{
        padding-top: 75px;
	    padding-bottom: 55px;
    }
    .flex {
        margin: 0px 30px;
    }
    .foot-logo{
	    text-align: start;
	    margin-left: 0px
    }
    .foot{
	    margin-left: 12px!important;
    }
    .foot-p{
        text-align:start;
        padding-left: 0px;

    }
	
}

@media only screen and (max-width:693px){
    .text-li{
        font-size: 12px;
    }
    .text-h1{
        font-size: 28px;
    }
    .text-ul2{
        flex-wrap: wrap;
    }
    .banner-text {
        padding-top: 150px;
    }
    .foot-p {
        font-size: 13px;
    }
}
@media only screen and (max-width:685px){
    .text-h1{
	font-size: 30px;
    }
}
@media only screen and (max-width:575px){
    .text-h1{
	font-size: 27px;
    }
}

	


@media only screen and (max-width:518px){
    .first{
        display: block;
    }
    .logo {
        width: 50%;
    }
    .col2{
        margin-left: 0px;
    }
    .text-ul2{
        display: block;
    }
    .product-h3 br{
        display: none;
    }
    .product-h3{
        margin-top: 25px;
    }
    .banner-text{
        
        padding-bottom: 35px;
    }
    .solution{
        padding-top: 35px;
    }
    .text-h1{
        font-size: 23px;
        line-height: 30px;
    }
    .text-p{
        line-height: 25px;
    }
    .sol-text-h2{
        font-size: 25px;
        line-height: 20px;
    }
    .sol-text-span{
        font-size: 25px;
    }
    .sol-text-p{
        line-height: 25px;
    }
    /* .product-h3{
    } */
    .start-h3{
        line-height: 30px;
        font-size: 23px;
    }
    .start-p{
        line-height: 25px;
    }
    .hire-img{
        width: 100%;
    }
    .hiring-text{
        padding-top: 15px;
    }
    .hiring-h6{
        line-height: 25px;
    }
    .col1 img {
        width: 60px;
    }
    .menu-toggle {
        top: 32px;
        font-size: 23px;
    }
    .six{
	    padding-bottom:0px
    }

}
@media only screen and (max-width:446px){
    .text-li{
        line-height: 28px;
        font-size: 14px;
    }
    .text-h1{
        font-size: 20px;
        line-height: 30px;
    }
    .text-p{
        font-size: 14px;
        line-height: 22px;
    }
    .text-a{
        font-size: 14px;
        letter-spacing: 1px;
    }
    .sol-text-h6{
        font-size: 13px;
	    line-height: 25px;
        letter-spacing: 1px;
        margin-bottom: 15px;
    }
    .sol-text-h2{
        font-size: 22px;
        line-height: 15px;
        letter-spacing: 1px;
    }
    .sol-text-span{
        font-size: 22px;
	    letter-spacing: 1px;
    }
    .sol-text-p{
        line-height: 22px;
        font-size: 14px;
    }
    
    .product-h3{
        font-size: 18px;
    }
    .product-li{
        font-size: 14px;
        line-height: 25px;
    }
    .product-ul {
        margin-top: 15px;
    }
    .product-ul li::before{
        font-size: 20px;
    }
    .started{
        min-height: 497px;
    }
    .start-h6{
        text-align: start;
        font-size: 14px;
        margin-top: 0px;
        letter-spacing: 1px;
    }
    .start-h3{
        line-height: 25px;
        text-align: start;
        font-size: 20px;
	    letter-spacing: 1px;
    }
    .start-p{
        font-size: 14px;
        line-height: 20px;
    }
    .gap{
        padding-bottom: 40px;
    }
    .hirinh-row{
	    margin-left: 24px
    }
    .hiring-img{
        width: 100%;
    }
    .hiring-text{
        width: 100%;
        margin-left: 8px;
    }
    .hiring-h6{
        font-size: 14px;
    }
    .hiring-h3{
        line-height: 30px;
        font-size: 20px;
        letter-spacing: 1px;
    }
    .hiring-p{
        font-size: 14px;
        line-height: 22px;
	    margin-bottom: 30px;
    }
    .hiring-a{
        padding: 14px;
        font-size: 12px;
    }
    .quote{
        padding: 40px 0px;
    }
    .quote-h2{
        font-size: 20px;
        line-height: 30px;
        letter-spacing: 1px;
    }
    .quote-h6{
        margin-top: 14px;
        font-size: 14px;
    }
    .banner-text{
        margin: 0px 30px;
    }
    .solution{
        margin: 0px 30px;
    }
    .row{
        margin-right: 30px;
        margin-left: 30px;
    }
    .quote-text{
        margin: 0 30px;
    }
    .flex{
        margin: 0 30px;
    }
    .foot-logo img{
        width: 65%;
    }
    .copy{
	    padding-left: 30px;
    }

}
@media only screen and (max-width:395px){
    .product-h3 {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .inner{
        width: 84%;
    }
    .text-h1{
        font-size: 25px;
    }

}
@media only screen and (max-width:362px){
    .text-h1{
	    font-size: 22px;
        letter-spacing: 0px;
    }
    .text-li{
	    font-size: 14px;
    }
    .text-p {
        font-size: 14px;
        line-height: 22px;
    }
    .sol-text-h6 {
        font-size: 14px;
    }
    .sol-text-h2 {
        font-size: 22px;
    }
    .sol-text-span{
	    font-size: 22px;
    }
    .sol-text-p{
	    font-size: 14px;
    }
}
